In [4]:
from pymongo import MongoClient

In [5]:
client = MongoClient("mongodb://localhost:27018/")

In [6]:
db = client["mydb"]
coll = db.get_collection(name="employee")

In [7]:
for i in coll.find():
    print(i)

{'_id': ObjectId('67e4d8003149916b3ab7a75b'), 'employee_id': 205, 'first_name': 'Shelley', 'last_name': 'Higgins', 'hire_date': '2002-06-07'}
{'_id': ObjectId('67e4d8003149916b3ab7a75c'), 'employee_id': 204, 'first_name': 'Hermann', 'last_name': 'Baer', 'hire_date': '2002-06-07'}
{'_id': ObjectId('67e4d8003149916b3ab7a75d'), 'employee_id': 203, 'first_name': 'Susan', 'last_name': 'Mavris', 'hire_date': '2002-06-07'}
{'_id': ObjectId('67e4d8003149916b3ab7a75e'), 'employee_id': 202, 'first_name': 'Pat', 'last_name': 'Fay', 'hire_date': '2005-08-17'}
{'_id': ObjectId('67e4d8003149916b3ab7a75f'), 'employee_id': 201, 'first_name': 'Michael', 'last_name': 'Hartstein', 'hire_date': '2004-02-17'}
{'_id': ObjectId('67e4d8003149916b3ab7a760'), 'employee_id': 200, 'first_name': 'Jennifer', 'last_name': 'Whalen', 'hire_date': '2003-09-17'}
{'_id': ObjectId('67e4d8003149916b3ab7a761'), 'employee_id': 199, 'first_name': 'Douglas', 'last_name': 'Grant', 'hire_date': '2008-01-13'}
{'_id': ObjectId('67e4d8003149916b3ab7a762'), 'employee_id': 140, 'first_name': 'Joshua', 'last_name': 'Patel', 'hire_date': '2006-04-06'}
{'_id': ObjectId('67e4d8003149916b3ab7a763'), 'employee_id': 139, 'first_name': 'John', 'last_name': 'Seo', 'hire_date': '2006-02-12'}
{'_id': ObjectId('67e4d8003149916b3ab7a764'), 'employee_id': 138, 'first_name': 'Stephen', 'last_name': 'Stiles', 'hire_date': '2005-10-26'}
{'_id': ObjectId('67e4d8003149916b3ab7a765'), 'employee_id': 137, 'first_name': 'Renske', 'last_name': 'Ladwig', 'hire_date': '2003-07-14'}
{'_id': ObjectId('67e4d8003149916b3ab7a766'), 'employee_id': 136, 'first_name': 'Hazel', 'last_name': 'Philtanker', 'hire_date': '2008-02-06'}
{'_id': ObjectId('67e4d8003149916b3ab7a767'), 'employee_id': 135, 'first_name': 'Ki', 'last_name': 'Gee', 'hire_date': '2007-12-12'}
{'_id': ObjectId('67e4d8003149916b3ab7a768'), 'employee_id': 134, 'first_name': 'Michael', 'last_name': 'Rogers', 'hire_date': '2006-08-26'}
{'_id': ObjectId('67e4d8003149916b3ab7a769'), 'employee_id': 133, 'first_name': 'Jason', 'last_name': 'Mallin', 'hire_date': '2004-06-14'}
{'_id': ObjectId('67e4d8003149916b3ab7a76a'), 'employee_id': 132, 'first_name': 'TJ', 'last_name': 'Olson', 'hire_date': '2007-04-10'}
{'_id': ObjectId('67e4d8003149916b3ab7a76b'), 'employee_id': 131, 'first_name': 'James', 'last_name': '03low', 'hire_date': '2005-02-16'}
{'_id': ObjectId('67e4d8003149916b3ab7a76c'), 'employee_id': 130, 'first_name': 'Mozhe', 'last_name': 'Atkinson', 'hire_date': '2005-10-30'}
{'_id': ObjectId('67e4d8003149916b3ab7a76d'), 'employee_id': 129, 'first_name': 'Laura', 'last_name': 'Bissot', 'hire_date': '2005-08-20'}
{'_id': ObjectId('67e4d8003149916b3ab7a76e'), 'employee_id': 128, 'first_name': 'Steven', 'last_name': 'Markle', 'hire_date': '2008-03-08'}
{'_id': ObjectId('67e4d8003149916b3ab7a76f'), 'employee_id': 127, 'first_name': 'James', 'last_name': 'Landry', 'hire_date': '2007-01-14'}
{'_id': ObjectId('67e4d8003149916b3ab7a770'), 'employee_id': 126, 'first_name': 'Irene', 'last_name': 'Mikkilineni', 'hire_date': '2006-09-28'}
{'_id': ObjectId('67e4d8003149916b3ab7a771'), 'employee_id': 125, 'first_name': '07ia', 'last_name': 'Nayer', 'hire_date': '2005-07-16'}
{'_id': ObjectId('67e4d8003149916b3ab7a772'), 'employee_id': 124, 'first_name': 'Kevin', 'last_name': 'Mourgos', 'hire_date': '2007-11-16'}
{'_id': ObjectId('67e4d8003149916b3ab7a773'), 'employee_id': 123, 'first_name': 'Shanta', 'last_name': 'Vollman', 'hire_date': '2005-10-10'}
{'_id': ObjectId('67e4d8003149916b3ab7a774'), 'employee_id': 122, 'first_name': 'Payam', 'last_name': 'Kaufling', 'hire_date': '2003-05-01'}
{'_id': ObjectId('67e4d8003149916b3ab7a775'), 'employee_id': 121, 'first_name': 'Adam', 'last_name': 'Fripp', 'hire_date': '2005-04-10'}
{'_id': ObjectId('67e4d8003149916b3ab7a776'), 'employee_id': 120, 'first_name': 'Matthew', 'last_name': 'Weiss', 'hire_date': '2004-07-18'}
{'_id': ObjectId('67e4d8003149916b3ab7a777'), 'employee_id': 119, 'first_name': 'Karen', 'last_name': 'Colmenares', 'hire_date': '2007-08-10'}
{'_id': ObjectId('67e4d8003149916b3ab7a778'), 'employee_id': 118, 'first_name': 'Guy', 'last_name': 'Himuro', 'hire_date': '2006-11-15'}
{'_id': ObjectId('67e4d8003149916b3ab7a779'), 'employee_id': 117, 'first_name': 'Sigal', 'last_name': 'Tobias', 'hire_date': '2005-07-24'}
{'_id': ObjectId('67e4d8003149916b3ab7a77a'), 'employee_id': 116, 'first_name': 'Shelli', 'last_name': 'Baida', 'hire_date': '2005-12-24'}
{'_id': ObjectId('67e4d8003149916b3ab7a77b'), 'employee_id': 115, 'first_name': 'Alexander', 'last_name': 'Khoo', 'hire_date': '2003-05-18'}
{'_id': ObjectId('67e4d8003149916b3ab7a77c'), 'employee_id': 114, 'first_name': 'Den', 'last_name': 'Raphaely', 'hire_date': '2002-12-07'}
{'_id': ObjectId('67e4d8003149916b3ab7a77d'), 'employee_id': 113, 'first_name': 'Luis', 'last_name': 'Popp', 'hire_date': '2007-12-07'}
{'_id': ObjectId('67e4d8003149916b3ab7a77e'), 'employee_id': 112, 'first_name': 'Jose Manuel', 'last_name': 'Urman', 'hire_date': '2006-03-07'}
{'_id': ObjectId('67e4d8003149916b3ab7a77f'), 'employee_id': 111, 'first_name': 'Ismael', 'last_name': 'Sciarra', 'hire_date': '2005-09-30'}
{'_id': ObjectId('67e4d8003149916b3ab7a780'), 'employee_id': 110, 'first_name': 'John', 'last_name': 'Chen', 'hire_date': '2005-09-28'}
{'_id': ObjectId('67e4d8003149916b3ab7a781'), 'employee_id': 109, 'first_name': 'Daniel', 'last_name': 'Faviet', 'hire_date': '2002-08-16'}
{'_id': ObjectId('67e4d8003149916b3ab7a782'), 'employee_id': 108, 'first_name': 'Nancy', 'last_name': 'Greenberg', 'hire_date': '2002-08-17'}
{'_id': ObjectId('67e4d8003149916b3ab7a783'), 'employee_id': 107, 'first_name': 'Diana', 'last_name': 'Lorentz', 'hire_date': '2007-02-07'}
{'_id': ObjectId('67e4d8003149916b3ab7a784'), 'employee_id': 106, 'first_name': 'Valli', 'last_name': 'Pataballa', 'hire_date': '2006-02-05'}
{'_id': ObjectId('67e4d8003149916b3ab7a785'), 'employee_id': 105, 'first_name': 'David', 'last_name': 'Austin', 'hire_date': '2005-06-25'}
{'_id': ObjectId('67e4d8003149916b3ab7a786'), 'employee_id': 104, 'first_name': 'Bruce', 'last_name': 'Ernst', 'hire_date': '2007-05-21'}
{'_id': ObjectId('67e4d8003149916b3ab7a787'), 'employee_id': 103, 'first_name': 'Alexander', 'last_name': 'Hunold', 'hire_date': '2006-01-03'}
{'_id': ObjectId('67e4d8003149916b3ab7a788'), 'employee_id': 102, 'first_name': 'Lex', 'last_name': 'De Haan', 'hire_date': '2001-01-13'}
{'_id': ObjectId('67e4d8003149916b3ab7a789'), 'employee_id': 101, 'first_name': 'Neena', 'last_name': 'Kochhar', 'hire_date': '2005-09-21'}
{'_id': ObjectId('67e4d8003149916b3ab7a78a'), 'employee_id': 100, 'first_name': 'Steven', 'last_name': 'King', 'hire_date': '2003-06-17'}
{'_id': ObjectId('680218bb4bbcbf30ecb83c60'), 'first_name': 'Prakhar', 'last_name': 'Nigam', 'hire_date': '2009-04-01', 'employee_id': 542}

In [8]:
employees = db.get_collection(name="employee")


employee_document = {
    "employee_id": 219,
    "first_name": "Hailed",
    "last_name": "Mary",
    "hire_date": "2012-06-07"
}

inserted_id = employees.insert_one(employee_document).inserted_id
print(f"Inserted document ID: {inserted_id}")

Inserted document ID: 680226364fdbe281ead0ccbd

In [9]:
employee = employees.find_one({"employee_id": 219})

print("Employee Details:")
print(employee)

Employee Details:
{'_id': ObjectId('680226364fdbe281ead0ccbd'), 'employee_id': 219, 'first_name': 'Hailed', 'last_name': 'Mary', 'hire_date': '2012-06-07'}

In [10]:
update_result = employees.update_one(
    {"employee_id": 219},  
    {"$set": {"first_name": "Shelley Updated"}}  
)

print(f"Matched {update_result.matched_count} document, Modified {update_result.modified_count} document")

Matched 1 document, Modified 1 document

In [11]:
delete_result = employees.delete_one({"employee_id": 219})

print(f"Deleted {delete_result.deleted_count} document")

Deleted 1 document

In [12]:
employees.create_index([("employee_id", 1)])  # 1 means ascending order

print("Index on 'employee_id' created.")

Index on 'employee_id' created.

In [13]:
from pymongo import DESCENDING
from datetime import datetime

employees.update_many(
    {},
    [{"$set": {"hire_date": {"$dateFromString": {"dateString": "$hire_date"}}}}]
)

pipeline = [
    {
        "$group": {
            "_id": {"$year": "$hire_date"},  # Group by hire year
            "total_employees": {"$sum": 1}
        }
    },
    {"$sort": {"_id": DESCENDING}}  # Sort by year descending
]

result = employees.aggregate(pipeline)

for year in result:
    print(f"Year: {year['_id']}, Total Employees: {year['total_employees']}")

Year: 2009, Total Employees: 1
Year: 2008, Total Employees: 3
Year: 2007, Total Employees: 8
Year: 2006, Total Employees: 8
Year: 2005, Total Employees: 14
Year: 2004, Total Employees: 3
Year: 2003, Total Employees: 5
Year: 2002, Total Employees: 6
Year: 2001, Total Employees: 1

In [ ]:
pipeline = [
    #1. Match employees hired after '2000-01-01'
    {
        "$match": {
            "hire_date": { "$gt": datetime(2000, 1, 1) }
        }
    },
    
    #2. Group by first_name and count the number of employees with that first_name
    {
        "$group": {
            "_id": "$first_name", 
            "total_employees": { "$sum": 1 }  
        }
    },
    
    # 3. Sort the result by the count of employees in descending order
    {
        "$sort": { "total_employees": -1 }
    },
    
    #4. Project the result to show only the first_name and total_employees
    {
        "$project": {
            "_id": 0,  
            "first_name": "$_id",  
            "total_employees": 1  
        }
    }
]

result = employees.aggregate(pipeline)

for doc in result:
    print(doc)

In [14]:
query = {
    "hire_date": {"$gt": datetime(2000, 1, 1)}
}

employees_after_2000 = employees.find(query)

for emp in employees_after_2000:
    print(emp)

{'_id': ObjectId('67e4d8003149916b3ab7a75b'), 'employee_id': 205, 'first_name': 'Shelley', 'last_name': 'Higgins', 'hire_date': datetime.datetime(2002, 6, 7, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a75c'), 'employee_id': 204, 'first_name': 'Hermann', 'last_name': 'Baer', 'hire_date': datetime.datetime(2002, 6, 7, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a75d'), 'employee_id': 203, 'first_name': 'Susan', 'last_name': 'Mavris', 'hire_date': datetime.datetime(2002, 6, 7, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a75e'), 'employee_id': 202, 'first_name': 'Pat', 'last_name': 'Fay', 'hire_date': datetime.datetime(2005, 8, 17, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a75f'), 'employee_id': 201, 'first_name': 'Michael', 'last_name': 'Hartstein', 'hire_date': datetime.datetime(2004, 2, 17, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a760'), 'employee_id': 200, 'first_name': 'Jennifer', 'last_name': 'Whalen', 'hire_date': datetime.datetime(2003, 9, 17, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a761'), 'employee_id': 199, 'first_name': 'Douglas', 'last_name': 'Grant', 'hire_date': datetime.datetime(2008, 1, 13, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a762'), 'employee_id': 140, 'first_name': 'Joshua', 'last_name': 'Patel', 'hire_date': datetime.datetime(2006, 4, 6, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a763'), 'employee_id': 139, 'first_name': 'John', 'last_name': 'Seo', 'hire_date': datetime.datetime(2006, 2, 12, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a764'), 'employee_id': 138, 'first_name': 'Stephen', 'last_name': 'Stiles', 'hire_date': datetime.datetime(2005, 10, 26, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a765'), 'employee_id': 137, 'first_name': 'Renske', 'last_name': 'Ladwig', 'hire_date': datetime.datetime(2003, 7, 14, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a766'), 'employee_id': 136, 'first_name': 'Hazel', 'last_name': 'Philtanker', 'hire_date': datetime.datetime(2008, 2, 6, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a767'), 'employee_id': 135, 'first_name': 'Ki', 'last_name': 'Gee', 'hire_date': datetime.datetime(2007, 12, 12, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a768'), 'employee_id': 134, 'first_name': 'Michael', 'last_name': 'Rogers', 'hire_date': datetime.datetime(2006, 8, 26, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a769'), 'employee_id': 133, 'first_name': 'Jason', 'last_name': 'Mallin', 'hire_date': datetime.datetime(2004, 6, 14, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a76a'), 'employee_id': 132, 'first_name': 'TJ', 'last_name': 'Olson', 'hire_date': datetime.datetime(2007, 4, 10, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a76b'), 'employee_id': 131, 'first_name': 'James', 'last_name': '03low', 'hire_date': datetime.datetime(2005, 2, 16, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a76c'), 'employee_id': 130, 'first_name': 'Mozhe', 'last_name': 'Atkinson', 'hire_date': datetime.datetime(2005, 10, 30, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a76d'), 'employee_id': 129, 'first_name': 'Laura', 'last_name': 'Bissot', 'hire_date': datetime.datetime(2005, 8, 20, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a76e'), 'employee_id': 128, 'first_name': 'Steven', 'last_name': 'Markle', 'hire_date': datetime.datetime(2008, 3, 8, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a76f'), 'employee_id': 127, 'first_name': 'James', 'last_name': 'Landry', 'hire_date': datetime.datetime(2007, 1, 14, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a770'), 'employee_id': 126, 'first_name': 'Irene', 'last_name': 'Mikkilineni', 'hire_date': datetime.datetime(2006, 9, 28, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a771'), 'employee_id': 125, 'first_name': '07ia', 'last_name': 'Nayer', 'hire_date': datetime.datetime(2005, 7, 16, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a772'), 'employee_id': 124, 'first_name': 'Kevin', 'last_name': 'Mourgos', 'hire_date': datetime.datetime(2007, 11, 16, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a773'), 'employee_id': 123, 'first_name': 'Shanta', 'last_name': 'Vollman', 'hire_date': datetime.datetime(2005, 10, 10, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a774'), 'employee_id': 122, 'first_name': 'Payam', 'last_name': 'Kaufling', 'hire_date': datetime.datetime(2003, 5, 1, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a775'), 'employee_id': 121, 'first_name': 'Adam', 'last_name': 'Fripp', 'hire_date': datetime.datetime(2005, 4, 10, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a776'), 'employee_id': 120, 'first_name': 'Matthew', 'last_name': 'Weiss', 'hire_date': datetime.datetime(2004, 7, 18, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a777'), 'employee_id': 119, 'first_name': 'Karen', 'last_name': 'Colmenares', 'hire_date': datetime.datetime(2007, 8, 10, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a778'), 'employee_id': 118, 'first_name': 'Guy', 'last_name': 'Himuro', 'hire_date': datetime.datetime(2006, 11, 15, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a779'), 'employee_id': 117, 'first_name': 'Sigal', 'last_name': 'Tobias', 'hire_date': datetime.datetime(2005, 7, 24, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a77a'), 'employee_id': 116, 'first_name': 'Shelli', 'last_name': 'Baida', 'hire_date': datetime.datetime(2005, 12, 24, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a77b'), 'employee_id': 115, 'first_name': 'Alexander', 'last_name': 'Khoo', 'hire_date': datetime.datetime(2003, 5, 18, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a77c'), 'employee_id': 114, 'first_name': 'Den', 'last_name': 'Raphaely', 'hire_date': datetime.datetime(2002, 12, 7, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a77d'), 'employee_id': 113, 'first_name': 'Luis', 'last_name': 'Popp', 'hire_date': datetime.datetime(2007, 12, 7, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a77e'), 'employee_id': 112, 'first_name': 'Jose Manuel', 'last_name': 'Urman', 'hire_date': datetime.datetime(2006, 3, 7, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a77f'), 'employee_id': 111, 'first_name': 'Ismael', 'last_name': 'Sciarra', 'hire_date': datetime.datetime(2005, 9, 30, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a780'), 'employee_id': 110, 'first_name': 'John', 'last_name': 'Chen', 'hire_date': datetime.datetime(2005, 9, 28, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a781'), 'employee_id': 109, 'first_name': 'Daniel', 'last_name': 'Faviet', 'hire_date': datetime.datetime(2002, 8, 16, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a782'), 'employee_id': 108, 'first_name': 'Nancy', 'last_name': 'Greenberg', 'hire_date': datetime.datetime(2002, 8, 17, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a783'), 'employee_id': 107, 'first_name': 'Diana', 'last_name': 'Lorentz', 'hire_date': datetime.datetime(2007, 2, 7, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a784'), 'employee_id': 106, 'first_name': 'Valli', 'last_name': 'Pataballa', 'hire_date': datetime.datetime(2006, 2, 5, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a785'), 'employee_id': 105, 'first_name': 'David', 'last_name': 'Austin', 'hire_date': datetime.datetime(2005, 6, 25, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a786'), 'employee_id': 104, 'first_name': 'Bruce', 'last_name': 'Ernst', 'hire_date': datetime.datetime(2007, 5, 21, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a787'), 'employee_id': 103, 'first_name': 'Alexander', 'last_name': 'Hunold', 'hire_date': datetime.datetime(2006, 1, 3, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a788'), 'employee_id': 102, 'first_name': 'Lex', 'last_name': 'De Haan', 'hire_date': datetime.datetime(2001, 1, 13, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a789'), 'employee_id': 101, 'first_name': 'Neena', 'last_name': 'Kochhar', 'hire_date': datetime.datetime(2005, 9, 21, 0, 0)}
{'_id': ObjectId('67e4d8003149916b3ab7a78a'), 'employee_id': 100, 'first_name': 'Steven', 'last_name': 'King', 'hire_date': datetime.datetime(2003, 6, 17, 0, 0)}
{'_id': ObjectId('680218bb4bbcbf30ecb83c60'), 'first_name': 'Prakhar', 'last_name': 'Nigam', 'hire_date': datetime.datetime(2009, 4, 1, 0, 0), 'employee_id': 542}

In [ ]:
session = client.start_session()

with session.start_transaction():
    try:
        employees.update_one({"employee_id": 205}, {"$set": {"first_name": "Shelley Transaction"}}, session=session)
        employees.update_one({"employee_id": 206}, {"$set": {"first_name": "John Transaction"}}, session=session)

        session.commit_transaction()
        print("Transaction committed!")
    except Exception as e:
        session.abort_transaction()
        print(f"Transaction aborted due to error: {e}")

Transaction aborted due to error: Transaction numbers are only allowed on a replica set member or mongos, full error: {'ok': 0.0, 'errmsg': 'Transaction numbers are only allowed on a replica set member or mongos', 'code': 20, 'codeName': 'IllegalOperation'}